<h1>Membership Options</h1>
<hr>

<%= link_to 'New Membership Option', new_membership_option_path, class:"btn btn-default" %><br><br>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @membership_options.each do |membership_option| %>
      <tr>
        <td><%= membership_option.name %></td>
        <td><%= membership_option.description %></td>
        <td><%= membership_option.price %></td>
        <td><%= link_to 'Edit', edit_membership_option_path(membership_option) %></td>
        <td><%= link_to 'Destroy', membership_option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
