<%= form_for(@booking) do |f| %>
<% if @booking.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this class from being saved:</h2>

  <ul>
    <% @booking.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class:"form-control" %>
</div>

<div class="form-group">
  <%= f.label :phone %>
  <%= f.text_field :phone, class:"form-control" %>
</div>

<div class="form-group">
  <%= f.label :email %>
  <%= f.email_field :email, class:"form-control" %>
</div>

<div class="form-group">
  <%= f.label :number %>
  <%= select :booking, :number, [1, 6], class:"form-control" %>
</div>

<div class="form-group">
  <%= f.label :membership_id %>
  <%= f.text_field :membership_id, class:"form-control" %>
</div>

<% if @classe %>
<%= hidden_field(:booking, :classe_id, :value => params[:classe_id]) %>
<% else %>
<div class="form-group">
  <%= f.collection_select :classe_id, Classe.all, :id, :name, :class=>'form-control' %>
</div>
<% end %>

<div class="actions">
  <%= f.submit class:"btn btn-default" %>
</div>
<% end %>
