<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @image.filename %>
</p>

<p>
  <strong>Alt:</strong>
  <%= @image.alt %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @image.caption %>
</p>

<p>
  <strong>Url:</strong>
  <%= @image.url %>
</p>

<img src="<%= @image.url %>"><br><br>

<%= link_to 'Back', images_path, class:"btn btn-default" %> <%= link_to 'Edit', edit_image_path(@image), class:"btn btn-warning" %>
