<!DOCTYPE html>
<html>
<head>
  <title>WFGroupProject</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% if flash[:notice] %>
  <div class="alert alert-success" style="display: block">
    <a class="close" onclick="$('.alert').hide()">×</a>
    <%= flash[:notice] %>
  </div>
  <% end %>

  <div class="page-container">

    <!-- top navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "WFGroupProject", root_path, class:"navbar-brand" %>
        </div>

        <% if is_admin %>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Message (" + Message.all.count.to_s + ")", messages_path %></li>
                <li class="dropdown-submenu">
                  <a class="pointer" tabindex="-1">Pages</a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "New", new_page_path %></li>
                    <li class="divider"></li>
                    <% pages.each do |page| %>
                    <li><%= link_to page.name, edit_page_path(page) %></li>
                    <% end %>
                  </ul>
                </li>

                <li class="dropdown-submenu">
                  <a class="pointer" tabindex="-1">Membership options</a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "New", new_membership_option_path %></li>
                    <li class="divider"></li>
                    <% membership_options.each do |membership_option| %>
                    <li><%= link_to membership_option.name, edit_membership_option_path(membership_option) %></li>
                    <% end %>
                  </ul>
                </li>

                <li class="dropdown-submenu">
                  <a class="pointer" tabindex="-1">Classes</a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "New", new_class_path %></li>
                    <li class="divider"></li>
                    <% classes.each do |classe| %>

                    <li class="dropdown-submenu">
                      <a class="pointer" tabindex="-1"><%= classe.name %></a>
                      <ul class="dropdown-menu">
                        <li><%= link_to "Show", classe %></li>
                        <li><%= link_to "Edit", edit_class_path(classe) %></li>
                      </ul>
                    </li>

                    <% end %>
                  </ul>
                </li>

                <li class="dropdown-submenu">
                  <a class="pointer" tabindex="-1">Images</a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "New", new_image_path %></li>
                    <li class="divider"></li>
                    <li><%= link_to "Show", images_path %><li>
                  </ul>
                </li>

              </ul>
            </li>
          </ul>
        </div>
        <% end %>
      </div>
    </div>

    <div class="container content-wrapper">
      <div class="row row-offcanvas row-offcanvas-left">

        <!-- sidebar -->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <ul class="nav">
            <% pages.each do |page| %>
            <li><%= link_to page.name, page_path(page) %></li>
            <% end %>
            <% if !is_admin %>
            <li><%= link_to "Admin", new_session_path %></li>
            <% else %>
            <li><%= link_to "Logout", "/logout" %></li>
            <% end %>
          </ul>
        </div>

        <!-- main area -->
        <div class="col-xs-12 col-sm-9">

          <%= yield %>

        </div><!-- /.col-xs-12 main -->
      </div><!--/.row-->
    </div><!--/.container-->
  </div><!--/.page-container-->
</body>
</html>
